/* html, body {
    height: 100%;
  } */

  #fullPannel {
    display: flex;
    background-color: rgb(43 43 43);
    padding: 5px;
    height: 100vh;
  }

  #floatLeft{
    display: flex;
    background-color: rgb(148, 148, 148);
    padding: 5px;
  }

  #containerCenter{
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    padding: 10px;
  }

  #containerTop{
    flex: 2;
  }

  #fullArena{
    display: flex;
    flex-flow: column;
    background-color: rgb(189 189 189);
    padding: 5px;
    flex: 8;
  }

  #containerBottom{
    flex: 2;
  }

  .playerCards{
    text-align: center;
    display: flex;
    background-color: rgb(224 224 224);
    padding: 5px;
  }

  #floatRight{
    display: flex;
    flex-flow: column;
    background-color: rgb(148, 148, 148);
    padding: 5px;
  }

  #amplifierCard{
    background-color: rgb(148, 148, 148);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  #logPannel{
    overflow: auto;
  }
  

  .mtgCardBox{
    position: unset;
  }

  .mtgCard{
    max-height: 110pt;
    padding: 3px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .card {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  .cardHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  #divisor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    padding: 1px;
  }

  .containerArena{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: wrap;
  }

  .containerLand{
    background-color: rgb(116, 116, 116);
  }

  .containerNonLand{
    background-color: rgb(160, 160, 160);
  }

  .boardCard{
    background-color: rgb(94, 94, 94);
  }

  .titlePile{
    background-color: #383838;
    color: #929292;
    padding: 2px;
    font-size: smaller;
    text-align: center;
  }

  .pile{
    padding: 3px;
    border-radius: 10px;
    margin: auto;
  }

  .turned{
    transform: rotate(90deg);
  }

  .colorButton{
    padding: 5px;
    margin: 3px;
    border-radius: 4px;
  }

  #colors{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .colorblue{ background-color: blue;}
  .colorblueviolet{ background-color: blueviolet;}
  .colordeeppink{ background-color: deeppink;}
  .colorhotpink{ background-color: hotpink;}
  .colorred{ background-color: red;}
  .coloryellow{ background-color: yellow;}
  .colororangered{ background-color: orangered;}
  .colorspringgreen{ background-color: springgreen;}
  .colormidnightblue{ background-color: rgb(23, 23, 37);}
  .colorolivedrab{ background-color: olivedrab;}

  .leftMenuButtons{
    color: #c5c5c5;
    background-color: #272727;
    border-color: #5f5f5f;
    width: 100%;
  }