/* html, body {
    height: 100%;
  } */

  #fullPannel {
    display: flex;
    background-color: rgb(111, 111, 255);
    padding: 5px;
    height: 100vh;
  }

  #floatLeft{
    display: flex;
    background-color: rgb(148, 148, 148);
    padding: 5px;
  }

  #containerCenter{
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    padding: 10px;
  }

  #containerTop{
    flex: 2;
  }

  #fullArena{
    display: flex;
    background-color: rgb(189 189 189);
    padding: 5px;
    flex: 8;
  }

  #containerBottom{
    flex: 2;
  }

  .playerCards{
    text-align: center;
    display: flex;
    background-color: rgb(224 224 224);
    padding: 5px;
  }

  #floatRight{
    display: flex;
    background-color: rgb(148, 148, 148);
    padding: 5px;
  }

  .mtgCardBox{
    position: unset;
  }

  .mtgCard{
    max-height: 120pt;
    padding: 3px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .card {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  .cardHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }